ion-card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ion-card{
    background: rgb(255, 250, 254);
}
// img{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }