<ion-header>
  <ion-toolbar>
    <ion-icon (click)="prev()" name="chevron-back-outline" size="large"></ion-icon>
    <ion-title align="center">My Reservations</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-card *ngFor="let d of date">
    <ion-item>
      <ion-icon name="people-outline" color="primary"></ion-icon>
     <ion-label>&nbsp; Table for {{d.people}} </ion-label> <ion-label> {{d.child}} Child(s) </ion-label>
     <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline" color="primary"></ion-icon>
      <ion-label> &nbsp; Date: {{d.date | date: 'dd-MM-yyyy'}}</ion-label> <ion-label>Time {{d.time | date: 'h:mm'}}</ion-label>
    </ion-item>
 </ion-card>

</ion-content>
