<ion-header>
  <ion-toolbar>
    <ion-icon size="large" (click)="prev()" name="chevron-back-outline"></ion-icon>
    <ion-title align="center">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cont">
  <form [formGroup]="updateForm" (ngSubmit)="save()">
    <ion-item>
      <ion-label>Full Name</ion-label>
      <ion-input formControlName="Name"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contact Number</ion-label>
      <ion-input formControlName="phone"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Physical Address</ion-label>
      <ion-input formControlName="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Image</ion-label>
      <ion-input type="file" formControlName="imgUrl" accept="image/*" placeholder="Image"
        (change)="onFileSelected($event)"></ion-input>
    </ion-item>
    <br><br><br>
    <ion-button style="margin-top: 10%;" expand="block" (click)="save()" color="danger">Save Changes</ion-button>

  </form>
</div>

</ion-content>
