<ion-header>
  <ion-toolbar>
    <ion-icon (click)="prev()" name="chevron-back-outline" size="large"></ion-icon>
    <ion-title align="center">Reservations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let i of items">
    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-label>{{i.name}}</ion-label>
      
    </ion-item>
  
    <ion-card-content>

      <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content [disabled]="false"
          pullingIcon="chevron-down-circle-outline"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>

      <ion-fab size="small" horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button style="--background: pink;">
          <ion-icon size="large" name="trash-outline"  (click)="deleteFood(i.bookId)"></ion-icon>
        </ion-fab-button>

        <!-- <ion-fab-list side="start">

          <ion-fab-button color="light" (click)="deleteFood(i.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>  -->
       </ion-fab>

      <ion-item>
        <ion-label>{{i.people}} Person(s)</ion-label>
        <ion-label> {{i.child}} Child(s)</ion-label>
      </ion-item>

      <ion-label> <b>Date: </b>{{i.date  | date: 'dd/MM/yyyy' }}</ion-label>
      <br><br>
      <ion-label><b>Time: </b>{{i.time| date: 'h:mm'}}</ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
