.image{
    margin: 10px;
    padding-top: 10px;
}
.evt{
    margin: 40px;
}

ion-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


ion-item{
    border-radius: 10px;
}