<ion-header>
  <ion-toolbar>
    <ion-icon (click)="prev()" name="chevron-back-outline" size="large"></ion-icon>
    <ion-title align="center" color="primary"> Dishes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  

  <div class="evt">

    <h3 style="font-weight: bold;">Available Dishes</h3>

    <ion-card *ngFor="let prod of food"  style="--background: rgba(253, 233, 246, 0.7);">
      
      <!-- <ion-card-content style="--background: rgba(253, 233, 246, 0.7);"> -->
        
          <img [src]="prod.imgUrl" width="100%">
      <div class="info">
        <ion-label style="--background: rgba(253, 233, 246, 0.7); font-size: large;">
          {{prod.dishName}}
        </ion-label>
        <p class="descrip">{{prod.description}}</p>
        <ion-label lines="none" style="--background: rgba(253, 233, 246, 0.7);">
          <b>Price: R{{prod.price}} </b>
        </ion-label>
      </div>
      <ion-icon size="large" name="trash-outline"  (click)="deleteFood(prod.restId)"></ion-icon>
    </ion-card>

  </div>
</ion-content>
