<div style="color: salmon;">
<ion-icon (click)="prev()" name="chevron-back-outline" size="large"></ion-icon>
</div>
<ion-content>

  <div class="cont">
    <div class="login">
    <h1 align="center">Sign In</h1>

    <form [formGroup]="eventLoginForm" (ngSubmit)="signinOwner()">
    
      <ion-item class="rowStyle">
        <ion-icon name="person"></ion-icon>
        <ion-input placeholder="Email" formControlName="email" type="email" name="email"></ion-input>
      </ion-item>

      <ion-item class="rowStyle">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-input placeholder="Password" formControlName="password" type="password" name="password"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="signinOwner()">
        Sign In
      </ion-button>

    </form>

    
    <ion-item lines="none">
      <ion-label align="end" color="primary" (click)="register()">Create Account</ion-label>
    </ion-item>

    </div>
  </div>
  
</ion-content>
