

<ion-content>

  <div class="profile">
    <h1 align="center">Profile</h1>

    <form [formGroup]="profileForm" (ngSubmit)="companyProf()">
      <!-- <ion-item>
        <ion-label position="floating">Client Code:</ion-label>
        <ion-input type="text" formControlName="clientCode" name="clientCode"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label position="floating">Restaurant Name:</ion-label>
        <ion-input type="text" formControlName="companyName" name="companyName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Physical Address:</ion-label>
        <ion-input type="text" formControlName="address" name="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number:</ion-label>
        <ion-input type="number" formControlName="phone" name="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email Address:</ion-label>
        <ion-input type="email" formControlName="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Website:</ion-label>
        <ion-input type="text" formControlName="website" name="website"></ion-input>
      </ion-item>

      <ion-button class="button" expand="block" shape="round" (click)="companyProf()">
        Save
      </ion-button>

    </form>


   <!-- <ion-item>
      <ion-input type="text" placeholder="Restaurant Name" [(ngModel)]="profile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Email Address" [(ngModel)]="profile.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="Contact Number" [(ngModel)]="profile.number"></ion-input>
    </ion-item>
    <ion-input type="file" formControlName="imgUrl" accept="image/*" (change)="fileuploads($event)"></ion-input>
    <input type="file" (change)="fileuploads($event)" multiple class="form-control" style="height: 100%;" accept="image/*">
     <input type="file">
    <div>{{ uploadPercent | async }}</div>
    <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    <br><img [src]="profileUrl | async" height="300px" /> 
    
      <ion-button (click)="close()" (click)="save()" expand="block" (click)="saveProfile()">SAVE</ion-button>-->
  </div>
</ion-content>
