
<ion-content>
  <div class="">
    <ion-icon (click)="prev()" style="color: #f7accf;" name="chevron-back-outline" size="large"></ion-icon>
  </div>
<div class="cont">
  <div class="register">
    <h1 color="light" align="center">Sign Up</h1>
    <br><br>
      <form [formGroup]="eventOwnerForm" (ngSubmit)="registerOwner()">

        <ion-item class="rowStyle">
          <ion-icon name="person"></ion-icon>
          <ion-input placeholder="Username" formControlName="username" type="text" name="username"></ion-input>
        </ion-item>
        <br>

        <ion-item class="rowStyle">
          <ion-icon name="mail"></ion-icon>
          <ion-input placeholder="Email" formControlName="email" type="email" name="email"></ion-input>
        </ion-item>
        <br>

        <ion-item class="rowStyle">
          <ion-icon name="lock-closed"></ion-icon>
          <ion-input placeholder="Password" formControlName="password" type="password" name="password"></ion-input>
        </ion-item>
        <br>

        <ion-button style="--background: #f7accf " expand="block" (click)="registerOwner()">
          Sign Up
        </ion-button>

      </form>

  </div>
</div>

      <ion-item lines="none">
        <ion-label style="color: #56237a;" align="center" color="primary" (click)="login()">Sign-In</ion-label>
      </ion-item>
      <h1 style="font-size: xx-large; font-weight: 700; color: #56237a; position: relative; " align="center">The EATERY</h1>
</ion-content>
