

<ion-content>
<ion-icon (click)="prev()" size="large" name="chevron-back-outline"></ion-icon>

  <div class="profil" *ngFor="let p of user">
    
    <div class="bottom">
      <div class="items">
        <ion-item>
          <ion-label>My Reservations</ion-label>
        </ion-item>
      </div>
    </div><div class="top">
      <ion-avatar style="width: 100px; height: 100px;">
        <img src="assets/fish.jpg">
      </ion-avatar>
    
      <ion-label class="name" style="font-size: large;">
        <b>{{p.Name}}</b> 
      </ion-label>
      <br>
      <ion-label class="name" style="color: gray;">
         {{p.email}}
      </ion-label>
      <br>
      <ion-label class="name" style="color: gray;">
         0{{p.phone}}
      </ion-label>
    </div>

  </div>

</ion-content>
