

<ion-content>
<ion-icon (click)="prev()" size="large" name="chevron-back-outline"></ion-icon>

  <div class="profil" *ngFor="let p of user">
    <ion-item lines="none" style=" border-top-left-radius: 40px; border-top-right-radius: 40px;">
      <ion-label>
        Name: {{p.companyName}}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Email Address: {{p.email}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" style=" border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;">
      <ion-label>
        Contact Number: {{p.phone}}
      </ion-label>
    </ion-item>
  </div>

</ion-content>
