.book{
    margin: 50px;
}

.menu{
    border-radius: 2px;
    border-color: royalblue;
    border-width: 1;
}
ion-item{
    // border-color: yellow;
    border-bottom: solid;
    border-bottom-color: yellow;
}