.book{
    margin: 10%;
}
.cont{
    
    height: 95%;
    width: 100%;
    // border: solid;
}
.menu{
    border-radius: 2px;
    border-color: royalblue;
    border-width: 1;
}
ion-item{
    // border: solid;
    border-radius: 12px;
    --background: rgb(241, 241, 241);
}
ion-button{
    color: linear-gradient(#ff476c, #46237a); 
}