<!-- <ion-menu side="start" menuId="custom" content-id="content" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content">
    <ion-list>
      <ion-item>Book</ion-item>
      <ion-item></ion-item>
      <ion-item></ion-item>
      <ion-item></ion-item>
      <ion-item></ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<!--<ion-header [translucent]="true">
  <ion-toolbar>
       <ion-icon size="large" color="primary" name="menu-outline" (click)="openCustom()"></ion-icon> 
    
    <ion-title align="center">
      
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content [fullscreen]="true" class="backg">
  <h1>The EATERY</h1>
  <img src="assets/food.png" height="250px">
  <p>Login as a Restaurant owner or a Customer</p>
  <div class="imag">
    <div class="owner" (click)="ownerLogin()">
      <img src="assets/owner.png" width="150px" (click)="ownerLogin()">
    </div>
    <div class="cust" (click)="customer()">
      <img src="assets/cust.png" width="150px" (click)="customer()">
    </div>
  </div>
  <!-- <img src="assets/logo.png"> -->

  
</ion-content>
