
<ion-content>
  <ion-icon (click)="prev()" name="chevron-back-outline" size="large"></ion-icon>
  <!-- <ion-fab (click)="addProfile()" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  
  <h3 align="center">Profile</h3>

  <ion-avatar>
    
  </ion-avatar>
  
  <div class="profil" *ngFor="let p of items">
    <ion-item lines="none" style="--background: rgba(253, 233, 246, 0.7);">
      <ion-label>
        Restaurant Name: {{p.companyName}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: rgba(253, 233, 246, 0.7);">
      <ion-label>
        Email Address: {{p.email}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: rgba(253, 233, 246, 0.7);">
      <ion-label>
        Contact Number: {{p.phone}}
      </ion-label>
    </ion-item>
    <ion-item lines="none" style="--background: rgba(253, 233, 246, 0.7);">
      Website: <ion-router-link>
         {{p.website}}
      </ion-router-link>
    </ion-item>
  </div>

</ion-content>
